<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div>
          <h3 class="text-center">Create an account</h3>
          <hr>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length">
            <p *ngFor="let msg of errorMessage">{{ msg }}</p>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <input [(ngModel)]="registrationRequest.email" type="email" id="email" class="form-control form-control-lg"
                   placeholder="example@email.com" />
            <label class="form-label" for="email">Email address</label>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <input [(ngModel)]="registrationRequest.password" type="password" id="password" class="form-control form-control-lg"
                   placeholder="Password" />
            <label class="form-label" for="password">Password</label>
          </div>

          <!-- Firstname input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <input [(ngModel)]="registrationRequest.firstName" type="text" id="firstname" class="form-control form-control-lg"
                   placeholder="Firstname" />
            <label class="form-label" for="firstname">Firstname</label>
          </div>

          <!-- Lastname input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <input [(ngModel)]="registrationRequest.lastName" type="text" id="lastname" class="form-control form-control-lg"
                   placeholder="Lastname" />
            <label class="form-label" for="lastname">Lastname</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button (click)="register()" type="button" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
              <button (click)="toLogin()" class="btn btn-link link-danger" type="button">Login</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2024. All rights reserved.
    </div>
    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</section>
